.application-form {
    font-family: $montserrat;
    padding: 16px;
    width: 400px;
    
    &__title {
        color: $blue-dark;
        font-size: 24px;
        padding: 12px 0;
        border-bottom: 1px solid $burgundy;
        margin-bottom: 16px;
    }

    &__input-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        &__label {
            color: $blue-dark;
            font-weight: 500;
            font-size: 18px;
        }

        &__input {

            background-color: $orange-medium-light;
            border-radius: 4px;
            border: none;
            color: $blue-dark;
            outline: none;
            padding: 4px;
            font-weight: 500;
        }

        & textarea {
            max-width: 100%;
            min-width: 100%;
            max-height: 240px;
            min-height:150px;
            
                    /* width */
            

        }
        ::-webkit-scrollbar {
            width: 6px;
            
        }
        


        ::-webkit-scrollbar-track {
            margin-top: 10px;
            background-color: transparent;

        }



        ::-webkit-scrollbar-corner {
            background-color: transparent;
           
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: $purple;    
            border-radius: 10px;
        }

    }

    &__validation-message {
        color: $blue-dark;
        font-weight: bold;
        font-style: italic;
        
    }

    &__buttons {
        display: flex;
        justify-content: end;
        padding-top: 16px;
        margin-bottom: 12px;
        &__btn-submit,
        &__btn-cancel {
            @include button-default;
            margin: 8px;
            padding: 8px;
            border-radius: 4px;
            font-weight: 600;
        }

        &__btn-submit {
            @include button-primary($purple, $orange, $orange-light);
        }
        
        &__btn-cancel {
            @include button-secondary($purple, $orange-light);

        }
    }



}