@mixin application-info-label {
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
}

@mixin application-info {
    color: $green;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 12px;
    transition: 0.2s ease-out;
}

.job-application {
    width: 287px;
    height: 400px;
    background-color: $slate-gray-dark;
    border: 4px solid $slate-gray-dark;
    border-radius: 8px;
    padding: 12px;
    font-family: $montserrat;
    margin: 12px;
    box-shadow: 4px 8px $blue-dark2;
    transition: 0.2s ease-out;
    // clip-path: polygon(8% 100%, 0% 92%, 0% 0%, 92% 0%, 100% 8%, 100% 100%);
    animation: pop 0.25s ease-out backwards;
    &:hover {
        cursor: pointer;
        border: 4px solid $green;
        background-color: $green;
        box-shadow: 8px 12px $blue-dark2;

        & .job-application__job-position,
        & .job-application__date-created,
        & .job-application__interview-description {
            color: $slate-gray-dark;
        }

    }

    &__company-name {
        color: white;
        margin: 8px 0;
        font-size: 28px;
        transition: 0.2s ease-out;
    }

    &__job-position--label {
        @include application-info-label;
    }

    &__job-position {
        @include application-info;
    }

    &__date-created--label {
        @include application-info-label;
    }

    &__date-created {
        @include application-info;
    }

    &__interview-description {
        color: $green;
        border-top: 1px solid white;
        padding: 8px 2px 0 2px;
        height: 172px;
        font-weight: bold;
        transition: 0.2s ease-out;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break:keep-all;
    }
}
