.header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 24px;
    background-color: $orange;
    box-shadow: 0 0 12px black;
    &__logo-container {
        max-width: 64px;
        max-height: 64px;
        &__img {
            width: 64px;
            height: 64px;
        }
    }

    &__navbar {
        margin-left: 98px;
    }

    &__user-info {
        margin-left: auto;
        font-family: $montserrat;
        display: flex;
        align-items: center;
        &__btn--login,
        &__btn--logout,
        &__btn--signup {
            
            font-weight: bold;
            padding: 8px 12px;
            border-radius: 4px;
        }

        &__username {
            color: $blue-dark;
            margin-right: 32px;
            font-size: 20px;
            &-value {
                font-weight: bold;
                transition: 0.2s ease-out;
              
                position: relative;
                &::after {
                    transition: 0.2s ease-out;
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0%;
                    border-bottom: 2px solid $blue-dark;
                }

                &:hover {
                    cursor: pointer;

                   
                    &::after {
                        width: 100%;
                       
                    }
                }
            }


        }


        &__btn--login {
            @include button-default;
            @include button-primary($blue-dark, $orange, $orange-light);
            border: 2px solid transparent;
            margin-right: 24px;
        }
        &__btn--logout {
            @include button-default;
            @include button-primary($blue-dark, $orange, $orange-light);
            border: 2px solid transparent;
            animation: slide-left-to-right 0.5s backwards cubic-bezier(0.33, 1, 0.68, 1);
        
        }

        &__btn--signup {
            @include button-default;
            @include button-secondary($blue-dark, $orange-light);

        }
    }


    @keyframes slide-left-to-right {
        0% {
            transform: translateX(-200%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}