.header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 24px;
    background-color: $orange;
    box-shadow: 0 0 12px black;
    &__logo-container {
        max-width: 64px;
        max-height: 64px;
        &__img {
            width: 64px;
            height: 64px;
        }
    }

    &__navbar {
        margin-left: 98px;
    }

    &__user-info {
        margin-left: auto;
        font-family: $montserrat;
        &__btn--login {
            @include button-default;
            font-weight: bold;
            color: $blue-dark;
            margin-right: 24px;
            padding: 6px 8px;
            border: 2px solid $blue-dark;
            border-radius: 4px;
        }

        &__btn--signup {
            @include button-default;
            background-color: $blue-dark;
            font-weight: bold;
            color: $orange;
            border-radius: 4px;
            padding: 8px 12px;
        }
    }
}